:root {
    --bg-col: white;
    --text-col: #333;
    --muted-col: #6e625f;
    --faded-col: #ffe2da;
    --light-col: #dee2e6;
    --accent-text-col: #c54337;
    --accent-col: #E64626;
    --light-accent-col: #ff8971;
    --gradient-col: rgb(255, 203, 157);
    --nav-col: rgb(255, 237, 208);
    --light-nav-col: rgb(255, 244, 227);
    --off-white: rgb(248, 246, 242);
    --clip-length: 25px;
    --clip: polygon(0 0, calc(100% - var(--clip-length)) 0, 100% 100%, 0 100%);
    --box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

@font-face {
    font-family: "Didact Gothic";
    src: url(DidactGothic-Regular.ttf);
}

@font-face {
    font-family: "Gabarito";
    src: url(Gabarito-VariableFont_wght.ttf);
}

/* Utility */
@media not screen {
    .screen-only {
        display: none !important;
    }
}

.accent {
    background-color: var(--accent-col);
    color: white;
}

@media only print {
    .accent {
        color: var(--accent-col);
    }
}

.accent-text {
    color: var(--accent-text-col);
}

.bg-off-white {
    background-color: var(--off-white);
}

.bg-light {
    background-color: var(--light-nav-col) !important;
}

.border-light {
    border: 1px solid var(--light-col);
}

.border-accent {
    border: 1px solid var(--accent-col) !important;
}

.large {
    font-size: 110%;
}

.medium {
    font-size: 11pt;
}

.nav-accent {
    background-color: var(--nav-col);
    color: var(--accent-text-col);
}

.clip {
	clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 100%, 0 100%);
}

.link-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Bootstrap overrides */
.btn-primary {
    background-color: var(--accent-col);
    border: none;
}
.btn-primary:hover {
    background-color: var(--accent-text-col);
}

.table {
    border: 2px solid var(--accent-col);
}

.table-light-border {
    border: 2px solid var(--faded-col);
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: var(--light-nav-col);
}

.rounded {
    overflow: hidden;
}

.rounded.table-responsive {
	overflow: auto;
}

#main-nav .container {
    margin-top: 0;
}

main.container {
    margin: 3rem auto;
}

.mw-400 {
    max-width: 400px;
}

.mw-500 {
    max-width: 500px;
}

nav {
    box-shadow: var(--box-shadow);
    font-size: 12pt;
}

nav, .navbar-light {
    background-color: var(--nav-col);
    background-image: linear-gradient(135deg, var(--light-nav-col), var(--nav-col));
    /* border-bottom: 6px solid var(--light-accent-col); */
}

.navbar-brand {
    padding-top: 0;    
}

.navbar-brand-title {
    text-transform: uppercase;
    color: var(--accent-col);
    display: inline-block;
    vertical-align: middle;
    /* overflow: hidden; */
    /* width: 0; */
    font-size: 18pt;
    margin-left: 0.2rem;
    transition: 0.2s all ease-in-out;
}

.list-group-item {
    padding: 0.5rem;
}

.list-group-item:nth-child(odd) {
    background-color: var(--off-white);
}

/* @media (prefers-reduced-motion) {
    .navbar-brand-title{ width: 100%; }
} */

/* .navbar-brand:hover .navbar-brand-title {
    width: 100%;
} */

nav .dropdown-menu {
    background-color: var(--light-nav-col);
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    padding: 0.5rem 1.5rem;
    transition: 0.1s all linear;
}

nav .dropdown-item:hover {
    background-color: var(--accent-col);
    color: white;
}

.nav-socials {
	font-size: 14pt;
	margin-left: 0.25rem;
	display: flex;
	gap: 0.25rem;
	align-items: center;
	justify-content: flex-end;
}

.breadcrumb {
    text-align: center;
    font-size: 11pt;
    opacity: 0.8;
    margin-bottom: 1.5rem;
    padding: 0.25rem 1rem;
    background-color: var(--light-nav-col);
}

.breadcrumb a {
    display: inline;
    border: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.text-muted {
    color: var(--muted-col) !important;
}

/* Main */

body {
    font-size: 13pt;
    line-height: 1.8em;
    font-family: "Didact Gothic", sans-serif;
    /* background-color: var(--bg-col); */
    background: linear-gradient(90deg, var(--off-white), var(--bg-col) 10%, var(--bg-col) 90%, var(--off-white));
    color: var(--text-col);
}

iframe {
    border: none;
}

p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: "Gabarito", sans-serif;
}

main a {
    border-bottom: 1px dotted;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  border-right: 3px solid var(--light-accent-col);
}

.sidebar-cap {
    background-color: var(--nav-col);
    height: var(--clip-length);
    clip-path: polygon(var(--clip-length) 0%, 100% 0%, 100% 100%, 0% 100%, 0% var(--clip-length));
    margin-bottom: -1px;
}
   
.sidebar {
    flex-grow: 1;
    background-image: linear-gradient(0deg, var(--bg-col), var(--nav-col));
}

.banner-back {
background: linear-gradient(0deg, #A9C2BD 10%, rgba(255,203,157,0.7)), url("../images/venue/dan-freeman-sydney-tint.jpg") no-repeat center;
background-size: cover;
background-position: center;
margin-bottom: 2rem;
overflow: hidden;
}

.banner-image-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.banner-image {
    width: 40%;
    margin-left: 13vw;
    min-width: 500px;
    /* width: 600px; */
}

.banner-back h2 {
font-weight: 600;
color: black;
font-family: "Gabarito", sans-serif;
}

.content h1, .content h2, .content h3 {
    color: var(--accent-text-col);
}

.content h2, .content h3 {
    padding-bottom: 0.1em;
    border-bottom: 3px solid var(--light-accent-col);
    /* margin-right: 2rem; */
    transition: 0.2s all ease-in-out;
    margin-left: -0.5rem;
}

.content h2:hover, .content h3:hover {
    margin-right: 0;
}

.spacer {
    height: 1rem;
}

body a {
    color: var(--accent-col);
}

footer {
    /* background-color: var(--light-nav-col); */
    background-image: linear-gradient(transparent, var(--nav-col));
    margin-top: 4rem;
    padding-top: 10rem;
}

.logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.logo {
    max-width: 250px;
    max-height: 150px;
}

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    background-color: var(--accent-col);
    color: white;
    border-radius: 100%;
    padding: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.workshop-number {
    font-family: Gabarito, sans-serif;
    color: var(--muted-col);
    font-weight: medium;
    display: block;
    float: left;
    font-size: 20pt;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .banner-back h2 {
    font-size: 120%;
    }
    .link-group li {
        display: inline;
    }
}